<!DOCTYPE html>
<md-card flex="100">
    <div layout="row" flex="100">
        <p style="color:#1A80C1;background-color:white; margin-left:20px;">
            <span>{{'FILTER_DATE_TITLE'| translate}}</span>
        </p>
        <div layout="row" flex>
            <span flex class="flex"></span>
            <md-button ng-click="showAlert($event,'FILTER_DATE_TITLE','FILTER_DATE_DESCRIPTION')" class="md-accent" aria-label="Info">
                <md-icon class="material-icons md-24">info</md-icon>
                <md-tooltip>
                    {{'CLICK_FOR_MORE_INFO'| translate}}
                </md-tooltip>
            </md-button>
            <md-button ng-click="commonDialog(filters.date)" class="md-accent" aria-label="edit">
                <md-icon class="material-icons md-24">build</md-icon>
                <md-tooltip>
                    {{'CLICK_TO_CHANGE_FILTER_OPTION'| translate}}
                </md-tooltip>
            </md-button>
            <md-button ng-click="filters.date.inUse=false; filtersChanged()" class="md-warn" aria-label="close">
                <md-icon class="material-icons md-24">delete_forever</md-icon>
                <md-tooltip>
                    {{'CLICK_TO_REMOVE'| translate}}
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <md-card-content>
        {{ 'DATE_MIN_DATE' | translate}}: {{min_date}}<br>
        {{ 'DATE_MAX_DATE' | translate}}: {{max_date}}
        
    </md-card-content>
</md-card>