<!DOCTYPE html>
<!-- latest_tracks directive -->
<div layout-gt-md="column" flex="33" layout="column">
    <md-card  style="min-width:30%;height:730px" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-toolbar style="color:black;background-color:white" >
            <div class="md-toolbar-tools">
                <h3 style="color:rgba(0,101,160,0.9)">
                    <span>{{'TITLE_TRACKS' | translate}}</span>
                </h3>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-card-content class="text-color nopadding">
            <md-progress-circular class="loader_dashboard" ng-if="!onload_tracks_timeline" md-diameter="156"></md-progress-circular>
                <div class="card-body">
                    <div class="streamline b-l b-accent m-b">
                        <div class="sl-item" ng-show="onload_tracks_timeline" ng-repeat='event in events' ng-click="goToActivity(event.id)">
                            <!--  <img class="md-avatar" src="{{event.url}}" style="width:80px;height:80px">
                            </img> -->
                            <div class="sl-content" >
                            <span>
                                <span style="color:rgba(0,101,160,0.9);line-height:100%;padding-bottom:30px;margin-left:-10px"><b>{{event.begin | date:'medium'}}</b></span>
                                <span style="color:rgba(255,255,255,0.8);background-color:rgba(0,101,160,0.9);border-radius: 8px;float:right">&nbsp;{{event.distance}} Km&nbsp;</span>
                            </span>
                            <div  style="height:40px;padding-top:15px;padding-bottom:15px">
                                <span style="line-height:70%">
                                    <i class="material-icons md-24" style="height:28px;width:28px">directions_car</i>
                                    {{event.manufacturer}} - {{event.car}}
                                </span>
                                <span>
                                    <i class="material-icons md-24" style="height:28px;width:28px">timer</i>
                                    {{event.travelTime}}
                                </span>
                            </div>
                        </div>
                            
                        <md-tooltip class="trackpreview" md-direction="right">
                            <md-content>
                                <p> </p>
                                <img src={{event.url}} style="width:480px;height:380px;"></img>
                            </md-content>
                        </md-tooltip>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>