<div>
    <h1>New Terms of Use</h1>

    <p> We have changed our Terms of Use according to the General Data Protection Regulation. 
        See the new <a href="https://envirocar.org/TermsOfUse.html" target="_blank">Terms of Use 2019</a></p>
    <p>To keep using enviroCar you need to accept the new Terms of Use.</p>



    <!--If clicked on button 'Accept', function acceptTou() is executed-->
    <md-button ng-click="acceptTou()" class="md-raised md-primary">Accept</md-button>
        
    <!--If clicked on button deny then function dontAcceptTou() is executed-->
    <md-button ng-click="dontAcceptTou()" class="md-primary md-hue-1">Deny</md-button>    
</div>

