/* Rules for sizing the icon. */
.material-icons.md-10 {font-size: 10px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-128 { font-size: 128px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// libs overrides
.material-icons {
    vertical-align: middle;
}
.material-icons.grey leg{ color: #616161; }
.material-icons.blue { color: rgba(0,101,160,0.9);}
.material-icons.white09 { color: white; }
.material-icons.white099 { color: rgba(255,255,255,0.9); }

.envirocar-blue {
    color: #1A80C1;
}

html, body{
    height: 100%;
    position: relative;
}

.nvd3.nv-pie .nv-pie-title {
    fill: rgb(68, 68, 68);
    //font-weight: $font-weight-bold;
    //font-size: $font-size-large !important;
}
/**
.nvd3 {
    width:300;
    height:450%;
}*/
.optionsnvd3 {
    background-color: transparent;

    position: absolute;
    z-index: 100;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);

}

.md-toolbar-tools {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .md-button {
        margin: 0px;
        margin-left: 8px !important;
        margin-top: 6px !important;
        margin-right: 0px !important;
        vertical-align: middle;
        padding: 0px;
        height: 36px;
        width: 36px !important;
        min-width: 36px !important;
    }
    .logo-icon {
        margin-left: 30px;
        width: 90px; 
        height: 25px;
    }
}

.track_toolbar {
    position: relative;
    z-index:2000;
    height: 130px;
    min-height: 130px;
    md-switch {
        padding-left: 20px;
    }
    rzslider {
        padding-left: 40px;
    }
}
.stuck_top {
    position: fixed;
    z-index:2000;
    top: 0px;
}



.track_toolbar_placeholder {
    height: 200px !important;
    min-height: 200px !important;
    color: red;
}
#phenom-dropdown {
    padding-left: 20px;
}

.streamline .sl-item::after {
    position: absolute;
    bottom: 0px;
    top:-7px;
    left: 0px;
    width: 32px;
    height: 32px;
    margin-left: -17px;
    background-color: white;
    content: "";
    border-top-color:  rgb(140, 191, 63);
    border-right-color: rgb(0, 101, 160);
    border-bottom-color: rgb(140, 191, 63);
    border-left-color: rgb(140, 191, 63);
    border-style: solid;
    border-width: 9px;
    border-radius: 50%;
}
::before, ::after {
    box-sizing: border-box;
}
.b-accent {
    border-color: rgb(140, 191, 63);
}
.b-info {
    border-color: rgb(33, 150, 243);
}
.b-l {
    border-left: 3px solid rgb(140, 191, 63);
}
.streamline {
    position: relative;
    border-color: rgba(140, 191, 63,1);
}

.sl-item
{
    cursor: pointer; cursor: hand;
    position: relative;
    padding-bottom: 20px;

}

*:focus {
    outline: none;
}

::before, ::after {
    box-sizing: border-box;
}

.sl-content
{

    margin-left: 37px;
    span {
        color: #black;
        i {
            color: black;
            height: 28px;
            width: 28px;
        }
    }
    .title_span{
        color: #1A80C1;
    }
}

#main-toolbar {
    position:fixed;
    width : 100%;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    z-index: 1900;
    #logo-icon{
        width: 90px; 
        height: 25px;
    }
}

md-toolbar {
    // toolbars
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    md-icon {
        display: block !important;
        height: auto;
    }
}

md-tooltip {
    font-size: 16px;
    z-index: 2500;
}

.white-bg {
    //font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    //background-color: #5ea6d3;
    //background-color: #4799cd;
}
/**
img {
    vertical-align: middle;
}*/

.flex {
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

md-sidenav {
    position: fixed !important;
    z-index:2200;
    md-list-item{
        div {
            padding: 0 0px;
        }
        .md-button{
            padding: 0 0px !important;
        };
        .md-no-style {
            padding: 0 0px !important;
        };
    }
    md-icon {
        display: block !important;
        height: auto;
    }
    .logo-icon {
        margin-left: 15px;
        vertical-align: middle;
        width: 90px; 
        height: 25px;
    }

}

#sidenav-title {
    padding-left: 1.8em;
}

#contentPane {
    //background-color: #e6e6e6;
}

#placeholder-right, #placeholder-left {
    background-color: #e6e6e6;
}

.md-button {
    min-width : auto;
}

md-list-item {
    min-height: 80px;
    height: 80px;
    max-height: 80px;
}

.material-icons.md-avatar {
    margin-left: 10px;
}

.layout-align-start-center {
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
}

.sidenav-element {
    z-index: 1;
}


#placeholder {
    display:inline-block;
    width: 60px;
    height: 100%;
}
#placeholder-toolbar {
    display:inline-block;
    height: 60px;
    width: 100%;
}

.profiletab {
    background-image: url('../components/assets/envCar_Foto06.jpg');
    background-size: cover;
    position:relative;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #8CBF3F;
}

.profiletab .cover {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profiletab .profile-pic{
    width: 350px;
    display:table;
    top: 20px;
    left: 25px;
    //border-bottom-style: solid;
    //border-bottom-width: 2px;
    //border-bottom-color: rgba(26,128,193,0.8);
    //box-shadow: 0 2px 0 rgba(140,191,63,0.8);
    padding-bottom: 15px;
    font-weight: 400;
    position:relative;;
}

.img-circle {
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.usernameNew{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    position: relative;
}

.emailIdUserNew
{
    position: relative;
    font-size: 15px;
    color: rgba(255,255,255,0.6);
}

.tracksusernameNew
{
    position: relative;
}

.profiletab .profile-pic .username{
    top: -24%;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    position: relative;
}
.profiletab .profile-pic .tracksusername{
    top: -50%;
    left: 33%;
    position: relative;
}
.profiletab .profile-pic .emailIdUser{
    top: -59%;
    left: 35.7%;
    position: relative;
    font-size: 15px;
    color: rgba(255,255,255,0.6);
}

.profiletab .statistics{
    top: 140px;
    left: 20px;
    color:white;
    position: absolute;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(26,128,193,0.8);
    box-shadow: 0 2px 0 rgba(140,191,63,0.8);
}

.profiletab .envirocar_statistics{
    bottom: 10px;
    left: 0px;
    color:white;
    position: absolute;
}

.profiletab .envirocar_statistics .detail_envirocar{
    text-align: center;
    display: table-cell;
    padding-left: 15px;
    padding-right: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.88);
}

.profiletab .statistics .detail2{
    text-align: center;
    display: table-cell;
    padding-left: 15px;
    padding-right: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.88);
}

toolbar-card {
    font-size: 16px;
}
.card-title{
    color:rgba(0,101,160,0.9);
    margin-left:20px;
}

.card-body
{
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
}

.comparison-title {
    color:#1A80C1;
    font-size: 14px;
    align: center;
}

.trackpreview .md-content {
    width:480px;
    height:380px;
    padding: 10px;

    .img{
        vertical-align: central;
        position: absolute;
        top:0em;
        left:0em;
        background-color: grey;
    }

    .placeholder-p {
        //margin-top: -40px;
        color: transparent;
        position: absolute;
        top:0em;
        left:0em;
        size: 0px
    }
}

.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.7);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
    width: 100px;
}

.legend i   {
    color: #777;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}