<md-card flex>
    <div layout="row" flex="100">
        <p class='card-title' >
            <span><b>{{'TRACK_SUMMARY_TITLE'| translate}} </b></span>
        </p>
        <div layout="row" flex>
            <span flex class="flex"></span>
            <md-button class="md-icon-button md-accent" aria-label="Info">
                <md-icon class="material-icons  md-24">info</md-icon>
                <md-tooltip>
                    {{'TRACK_SUMMARY_DESCRIPTION'| translate}}
                </md-tooltip>
            </md-button>
        </div>
    </div>

    <md-card-content flex="100">
        <md-list-item flex>
            <div layout="row" flex="50">
                <i class="md-24 material-icons">timeline</i>
                <p><b>{{ 'DISTANCE' | translate }}</b></p>
                <p flex>{{tracksummary['distance']}} km</p>
            </div>
        </md-list-item>
        <md-list-item flex>
            <div layout="row" flex>
                <i class="md-24 material-icons">access_time</i>
                <p><b>{{ 'DURATION' | translate }}</b></p>
                <p flex>{{tracksummary['timeoftravel']}}</p>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item flex>
            <i class="md-24 material-icons">directions_car</i>
            <p><b>{{'VEHICLE_TYPE' | translate}}</b></p>
            <p flex>{{tracksummary['vehiclemanufacturer']}} - {{tracksummary['vehiclemodel']}}</p>

        </md-list-item>
        <md-list-item flex>
            <i class="md-24 material-icons">timer</i>
            <p><b>{{ 'START_TIME' | translate }}</b></p>
            <p flex>{{tracksummary['starttime']}}</p>
        </md-list-item>
        <md-list-item flex>
            <i class="md-24 material-icons">timer_off</i>
            <p><b> {{ 'END_TIME' | translate }} </b></p>
            <p flex>{{tracksummary['endtime']}}</p>
        </md-list-item>
        <md-list-item flex>
            <i  class="md-24 material-icons">local_gas_station</i>
            <p><b> {{ 'CONSUMPTION' | translate }} </b></p>
            <p flex>{{tracksummary['fuel']}} liter/100km</p>
        </md-list-item>
        <md-list-item flex>
            <i class="md-24 material-icons">cloud_queue</i>
            <p><b> {{ 'CO2EMISSION' | translate}} </b></p>
            <p flex>{{tracksummary['co2emissionperhour']}} g/km</p>
        </md-list-item>


    </md-card-content>
</md-card>