<md-card id="track-summary" flex style="height: 640px;">
    <div layout="row">
        <p class='card-title' >
            <span><b>{{'TRACK_SUMMARY_TITLE'| translate}} </b></span>
        </p>
        <div layout="row" flex>
            <span flex class="flex"></span>
            <md-button ng-click="showAlert($event, 'TRACK_SUMMARY_TITLE', 'TRACK_SUMMARY_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                <md-icon class="material-icons  md-24">info</md-icon>
                <md-tooltip>
                    {{'CLICK_FOR_MORE_INFO'| translate}}
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <md-card-content layout="column" flex>
        <md-progress-circular layout-align="center center" class="loader_dashboard2" ng-if="!onload_summary" md-diameter="56"></md-progress-circular>

        <div ng-if="onload_summary" layout="column" flex>
            <div layout-gt-xs="row">
                <div style="width:50%;text-align:center">
                    <h3 style="color:#0065A0">{{tracksummary['timeoftravel']}}</h3>
                    <p style="font-size:13px;">{{'DURATION'| translate}}</p>
                </div>
                <div style="width:50%;text-align:center">
                    <h3 style="color:#0065A0">{{tracksummary['distance']}} km</h3>
                    <p style="font-size:13px;">{{'DISTANCE'| translate}}</p>
                </div>
            </div>
            
            <span flex class="span-flex"></span>
            
            <md-divider ></md-divider>
            
            <span flex class="span-flex"></span>
            
            <md-list-item layout="row">
                <i class="material-icons md-avatar grey md-36">directions_car</i>
                <div class="md-list-item-text">
                    <p>{{'VEHICLE_TYPE'| translate}}:</p>
                </div>
                <span flex></span>
                <div style="right:0px" class="md-list-item-text">
                    <p>{{tracksummary['vehiclemanufacturer']}}, {{tracksummary.vehiclemodel}}</p>
                </div>
            </md-list-item>
            
            <span flex class="span-flex"></span>
            
            <md-list-item layout="row">
                <i class="material-icons md-avatar grey md-36">timer</i>
                <div class="md-list-item-text">
                    <p>{{'START_TIME'| translate}}:</p>
                </div>
                <span flex></span>
                <div style="right:0px" class="md-list-item-text">
                    <p>{{tracksummary['starttime']}}</p>
                </div>
            </md-list-item>
            
            <span flex class="span-flex"></span>

            <md-list-item layout="row">
                <i class="material-icons md-avatar grey md-36">timer_off</i>
                <div class="md-list-item-text">
                    <p>{{'END_TIME'| translate}}:</p>
                </div>
                <span flex></span>
                <div style="right:0px" class="md-list-item-text">
                    <p>{{tracksummary['endtime']}}</p>
                </div>
            </md-list-item>
            
            <span flex class="span-flex"></span>

            <md-list-item layout="row">
                <i style="margin-bottom: 0px;" class="material-icons md-avatar grey md-36">local_gas_station</i>
                <div class="md-list-item-text">
                    <p style="margin-bottom: 14px;">{{'CONSUMPTION'| translate}}:</p>
                </div>
            </md-list-item>

            <div layout="row">
                <span style="width: 90px;"></span>
                <div layout="column" >
                    <span style="padding-bottom: 8px;">{{'PER_100_KM' | translate}}:</span>
                    <span>{{'ON_SEGMENT' | translate}}:</span>
                </div>
                <span flex></span>
                <div layout="column" style="text-align: right;">
                    <span flex style="padding-bottom: 8px;"> {{tracksummary['fuel']}} liter/100km</span>
                    <span flex> {{tracksummary['fuelConsumed']}} liter</span>
                </div>
            </div>
            
            <span flex class="span-flex"></span>

            <md-list-item layout="row">
                <i style="margin-bottom: 0px;" class="material-icons md-avatar grey md-36">cloud_circle</i>
                <div class="md-list-item-text">
                    <p style="margin-bottom: 14px;">{{'CO2_EMISSION'| translate}}:</p>
                </div>
            </md-list-item>
            <div layout="row">
                <span style="width: 90px;"></span>
                <div layout="column" >
                    <span style="padding-bottom: 8px;">{{'PER_100_KM' | translate}}:</span>
                    <span>{{'ON_SEGMENT' | translate}}:</span>
                </div>
                <span flex></span>
                <div layout="column" style="text-align: right;">
                    <span flex style="padding-bottom: 8px;"> {{tracksummary['co2emissionperhour']}} kg/100km</span>
                    <span flex> {{tracksummary['co2emissionperhourConsumed']}} kg</span>
                </div>
            </div>
            
            <span flex class="span-flex flex"> </span>
        </div>
    </md-card-content>
</md-card>