<md-dialog style="width:420px" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="filter_heading" >{{'FILTER_DATE_HEADING'| translate}}</h2>
                <span flex class="flex"></span>
                <md-button ng-click="cancel()" class="md-icon-button md-light padding-right" aria-label="close-dialog">
                    <md-icon class="material-icons md-24">close</md-icon>
                    <md-tooltip>
                        {{'CLOSE_DIALOG'| translate}}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding-top:5%">
            <div layout-padding ng-cloak>
                <md-input-container>
                    <label>{{ 'DATE_MIN_DATE' | translate}}</label>
                    <md-datepicker ng-model="dateStartCustom" md-placeholder="Start date">/md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>{{ 'DATE_MAX_DATE' | translate}}</label>
                    <md-datepicker ng-model="dateEndCustom" md-placeholder="End date"></md-datepicker>
                </md-input-container>

                <p ng-if="errorOverlap">{{'DATE_OVERLAP_ERROR'| translate}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="hide()" class="md-primary">
                {{'FILTER_OKAY'| translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
