<!DOCTYPE html>
<div class="divider" flex="100">
    <div class="filter_card" layout="row" flex="100">
        <p style="color:#1A80C1;">
            <span>  <i class="material-icons md-24" style="margin-left:10px;">timelapse</i>
                {{'FILTER_DURATION_TITLE'| translate}}</span>
        </p>
        <div layout="row" flex>
            <span flex class="flex"></span>
            <md-button ng-click="showAlert($event, 'FILTER_DURATION_TITLE', 'FILTER_DURATION_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                <md-icon class="material-icons  md-24">info</md-icon>
                <md-tooltip>
                    {{'CLICK_FOR_MORE_INFO'| translate}}
                </md-tooltip>
            </md-button>
            <md-button ng-click="removeFilter(filters.duration); filters.duration.inUse = false; filtersChanged()" class="md-icon-button md-warn" aria-label="close">
                <md-icon class="material-icons  md-24">delete_forever</md-icon>
                <md-tooltip>
                    {{'CLICK_TO_REMOVE'| translate}}
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <div class="filter_card_content">
        <div layout="column" layout-padding ng-cloak>
            <md-input-container >
                <input type="number" min="{{duration_min}}" max="{{maxDurationFilter - 1}}" ng-change="hide()" ng-model="minDurationFilter" placeholder="{{ 'DURATION_MIN' | translate}}" style="width:100%">
            </md-input-container>
            <md-input-container>
                <input type="number" max="{{duration_max}}" min="{{minDurationFilter + 1}}" ng-change="hide()" ng-model="maxDurationFilter" placeholder="{{ 'DURATION_MAX' | translate}}" style="width:100%">
            </md-input-container>
            <p ng-if="errorNegative">{{'ERROR_NEGATIVE'| translate}}</p>
            <p ng-if="errorNoInput">{{'ERROR_NO_INPUT'| translate}}</p>
            <p ng-if="errorOverlap">{{'DURATION_OVERLAP_ERROR'| translate}}</p>
        </div>
    </div>
</div>