<!-- Dashboard HTML content -->
<div flex>

    <div class="profiletab" ng-style="{
                'background-color'
                :
                        '#0065A0'
            }" style="height:275px">
        <div class="cover">
            <div class="profile-pic absolute" style="height:40%;display:inline-block">
                <div layout="row">
                    <div style="width:30%;text-align:center">
                        <img class="img-circle" src="https://secure.gravatar.com/avatar/cf17f9ff1e0a237ab76046d5aca84e0e?size=240" style="height:100px;width:100px">
                    </div>
                    <div style="width:70%;padding-left:25px;padding-top:10px" layout="column">
                        <span class="usernameNew" ng-bind=name_of_user></span>
                        <span class="emailIdUserNew" ng-bind=emailId></span>
                    </div>
                </div>
            </div>
            <div class="statistics" >
                <div class="detail2" >
                    <md-tooltip md-delay="500">{{ 'TT_DB_TRACKS' | translate}} </md-tooltip>
                    <p ng-bind="track_number">
                        <br>
                    <div class="descp">
                        {{'TRACKS'| translate}}
                    </div>
                </div>
                <div class="detail2" >
                    <md-tooltip md-delay="500">{{ 'TT_DB_DURATION' | translate}} </md-tooltip>
                    <p ng-bind="duration_driven">
                        <br>
                    <div class="descp">
                        {{'DURATION'| translate}}
                    </div>
                </div>
                <div class="detail2" >
                    <md-tooltip md-delay="500">{{ 'TT_DB_DISTANCE' | translate}} </md-tooltip>
                    <p ng-bind="distance_driven">
                        <br>
                    <div class="descp">
                        {{'DISTANCE'| translate}}
                    </div>
                </div>
            </div>
            <div class="envirocar_statistics" >
                <div class="detail_envirocar" >
                    <md-tooltip md-delay="500">{{ 'TT_DB_TOTAL_USERS' | translate}} </md-tooltip>
                    <div class="descp">
                        {{total_users}} {{'TOTAL_USERS'| translate}}
                    </div>
                </div>
                <div class="detail_envirocar" >
                    <md-tooltip md-delay="500">{{ 'TT_DB_TOTAL_TRACKS' | translate}} </md-tooltip>
                    <div class="descp">
                        {{total_tracks}} {{'TOTAL_TRACKS'| translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- filling with charts -->

    <div layout-gt-sm="row" layout-sm="column" layout-xs="column" flex>

        <div layout="column" flex>
            <div>
                <comparison-chart flex> </comparison-chart>
            </div>
            <div>
                <heat-map-chart flex> </heat-map-chart>
            </div>
        </div>
        <div layout="column" flex-gt-sm="35" flex-sm="100">
            <div>
                <latest-tracks-chart flex> </latest-tracks-chart>
            </div>
        </div>
    </div>
    <div layout-gt-sm="row" layout-sm="column" layout-xs="column" flex>
        <div layout="column" flex-gt-sm="50" flex-sm="100">
            <weekdays-chart flex></weekdays-chart>
        </div>
        <div layout="column" flex>
            <speed-zones-chart flex> </speed-zones-chart>
        </div>
    </div>

</div>