<div layout="column" flex-xs="100" layout-fill layout-align="center center" style="padding-bottom:10px;padding-top:10px;">
    <div class="loginBox md-whiteframe-z1" layout="column" ng-hide="reset_password || new_password">
        <md-toolbar>
            <h3 style="padding-left: 20px;">
                <span ng-if='login_active'>{{'LOGIN'| translate}}</span> <!--wenn login view active, dann display title as login -->
                <span ng-if='!login_active'>{{'REGISTER'| translate}}</span> <!--wenn login view inactive which is the register view, dann display box title as 'register' -->
            </h3>
        </md-toolbar>
        <md-content class="md-padding" layout="column">
            <!--LOGIN View-->
            <div ng-show="login_active" ng-cloak layout="column"> 
                <div ng-if="login_request_running" id="loader_login">
                    <md-progress-circular md-diameter="56"></md-progress-circular>
                </div>
                <!--Container Username-->
                <md-input-container>
                    <label>{{'USERNAME'| translate}}</label>
                    <input ng-keyup="$event.keyCode == 13 && login()" ng-model="username"><!--13 is the enter key; if key is enter then login-->
                </md-input-container>
                <!--Container Password-->
                <md-input-container>
                    <label>{{'PASSWORD'| translate}}</label>
                    <input ng-keyup="$event.keyCode == 13 && login()" ng-model="password" type="password">
                </md-input-container>
            </div>

            <!-- REGISTER STATE View-->
            <div ng-show="!login_active" ng-cloak layout="column">
                <div ng-if="register_request_running" id="loader_login">
                    <md-progress-circular md-diameter="56"></md-progress-circular>
                </div>
                <span ng-show='error_name' class='error-span'>{{'EMPTY_USERNAME'| translate}}</span>
                <span ng-show='error_name_too_short' class='error-span'>{{'USERNAME_TOO_SHORT'| translate}}</span>
                <span ng-show="error_name_in_use" class="error-span">{{'USERNAME_IN_USE_1'| translate}}{{name_in_use_alrdy}}{{'USERNAME_IN_USE_2'| translate}}{{mail_in_use_alrdy}}{{'USERNAME_IN_USE_3'| translate}}</span>
                <md-input-container>
                    <label>{{'USERNAME'| translate}}</label>
                    <input type="text" ng-model="username_register" ng-required="true">
                </md-input-container>
                
                <span ng-show='error_mail' class='error-span'>{{'INVALID_EMAIL'| translate}}</span>
                <md-input-container>
                    <label>{{'EMAIL'| translate}}</label>
                    <input ng-model="email_register" type="text" ng-required="true">
                </md-input-container>
                
                <span ng-show='error_pw_empty' class='error-span'>{{'EMPTY_PASSWORD'| translate}}</span>
                <md-input-container>
                    <label>{{'PASSWORD'| translate}}</label>
                    <input ng-required="true" ng-model="password_register" type="password">
                </md-input-container>
                
                <span ng-show='error_pw_repeat_empty' class='error-span'>{{'EMPTY_PASSWORD'| translate}}</span>
                <span ng-show='error_pw_not_match' class='error-span'>{{'UNMATCHING_PASSWORDS'| translate}}</span>
                <md-input-container>
                    <label>{{'PASSWORD_REPEAT'| translate}}</label>
                    <input ng-required="true" ng-model="password_repeat" type="password">
                </md-input-container>
                
                <md-checkbox ng-required="true" ng-model="acceptedTerms">
                    <translate>ACCEPTED_TERMS</translate>
                    <br/>
                    <span ng-show='error_terms' class='error-span' translate="TERMS_NOT_ACCEPTED" />
                </md-checkbox>                
                
                <md-checkbox ng-required="true" ng-model="acceptedPrivacy">
                    <translate>ACCEPTED_PRIVACY</translate>
                    <br/>
                    <span ng-show='error_privacy' class='error-span' translate="PRIVACY_NOT_ACCEPTED" />
                </md-checkbox>

            </div>
            <!-- LOGIN STATE (ERROR) -->
            <div ng-show="login_active">
                <span ng-show='error' class='error-span'>{{'INVALID_LOGIN'| translate}}</span>
                <div layout-xs="column" layout="row" style="padding-top:20px;">
                    <md-button flex-xs="100" flex-gt-xs="40" flex-gt-sm="35" flex-gt-md="30" class="md-raised md-primary" ng-click="login()">{{'LOGIN'| translate}}</md-button>
                    <span flex class="span-flex"></span>
                    <!--<md-button flex-xs="100" flex-gt-xs="40" flex-gt-sm="35" flex-gt-md="30" class="md-raised md-success" ng-disabled="true">-->
                    <md-button flex-xs="100" flex-gt-xs="40" flex-gt-sm="35" flex-gt-md="30" class="md-raised md-success" ng-click="login_active = false;">
                        {{'REGISTER'| translate}}
                    </md-button>
                </div>
                <div layout="row" style="padding-top:20px;">
                    <span flex class="span-flex"></span>
                    <md-button class="md-no-ink" flex-xs="50" flex-sm="50" ng-click="reset_password = true;">
                        {{'FORGOT_PASSWORD'| translate}}
                    </md-button>
                </div>
            </div>
            <!-- REGISTER STATE -->
            <div ng-show="!login_active">
                <span ng-show="register_success" class="success-span">{{'REGISTERED'| translate}}</span>
                <div layout-xs="column" layout="row" style="padding-top:20px;">
                    <md-button flex-xs="100" flex-gt-xs="40" flex-gt-sm="35" flex-gt-md="30" class="md-raised md-success" ng-click="login_active = true;">{{'BACK_TO_LOGIN'| translate}}</md-button>
                    <span flex class="span-flex"></span>
                    <md-button flex-xs="100" flex-gt-xs="40" flex-gt-sm="35" flex-gt-md="30" class="md-raised md-primary" ng-click="register()">
                        {{'REGISTER'| translate}}
                    </md-button>
                </div>
            </div>
        </md-content>
    </div>

    <!-- FORGOT PASSWORD STATE: -->
    <div class="loginBox md-whiteframe-z1" layout="column" ng-show="reset_password">
        <md-toolbar>
            <h3 style="padding-left: 20px;">
                <span >{{'RESET_PASSWORD'| translate}}</span>
            </h3>
        </md-toolbar>
        <md-content class="md-padding" layout="column">
            <div ng-cloak layout="column">
                <div ng-if="passwordreset_request_running" id="loader_login">
                    <md-progress-circular md-diameter="56"></md-progress-circular>
                </div>
                <span ng-show='error_username_empty' class='error-span'>{{'EMPTY_NAME'| translate}}</span>
                <span ng-show='error_username_too_short' class='error-span'>{{'USERNAME_TOO_SHORT'| translate}}</span>
                <md-input-container>
                    <label>{{'USERNAME'| translate}}</label>
                    <input ng-keyup="$event.keyCode == 13 && reset_password()" required ng-model="reset_name">
                </md-input-container>
                <span ng-show='error_mail' class='error-span'>{{'INVALID_EMAIL'| translate}}</span>
                <md-input-container>
                    <label>{{'EMAIL'| translate}}</label>
                    <input ng-keyup="$event.keyCode == 13 && reset_password()" required ng-model="reset_mail">
                </md-input-container>
            </div>
            <span ng-show='error_usermail_not_exist' class='error-span'>{{'INVALID_USER'| translate}}</span>
            <span ng-show='error_request_sent_alrdy' class='error-span'>{{'ALREADY_REQUESTED'| translate}}</span>
            <span ng-show="reset_success" class="success-span">{{'RESET_PASSWORD_REQUESTED'| translate}}</span>
            <div layout-xs="column" layout="row" style="padding-top:20px;">
                <md-button flex-xs="100" flex-gt-xs="45" flex-gt-sm="40" flex-gt-md="35" class="md-raised md-success" ng-click="reset_password = false;">{{'BACK_TO_LOGIN'| translate}}</md-button>
                <span flex class="span-flex"></span>
                <md-button flex-xs="100" flex-gt-xs="45" flex-gt-sm="40" flex-gt-md="35" class="md-raised md-primary" ng-click="resetPassword()">
                    {{'RESET_MY_PASSWORD'| translate}}
                </md-button>
            </div>
        </md-content>
    </div>

    <!-- FORGOT PASSWORD STATE: ENTER NEW PASSWORD(s)-->
    <div class="loginBox md-whiteframe-z1" layout="column" ng-show="new_password">
        <md-toolbar>
            <h3 style="padding-left: 20px;">
                <span >{{'SET_PASSWORD_NEW'| translate}}</span>
            </h3>
        </md-toolbar>
        <md-content class="md-padding" layout="column">
            <div ng-cloak layout="column">
                <span>{{'SET_NEW_PW_INFO' | translate}}</span>
                <div ng-if="new_password_request_running" id="loader_login">
                    <md-progress-circular md-diameter="56"></md-progress-circular>
                </div>
                <span ng-show='error_pw_empty' class='error-span'>{{'EMPTY_PASSWORD'| translate}}</span>
                <md-input-container>
                    <label>{{'PASSWORD'| translate}}</label>
                    <input ng-required="true" ng-model="password_new_one" type="password">
                </md-input-container>
                <span ng-show='error_pw_repeat_empty' class='error-span'>{{'EMPTY_PASSWORD'| translate}}</span>
                <span ng-show='error_pw_not_match' class='error-span'>{{'UNMATCHING_PASSWORDS'| translate}}</span>
                <md-input-container>
                    <label>{{'PASSWORD_REPEAT'| translate}}</label>
                    <input ng-required="true" ng-model="password_new_two" type="password">
                </md-input-container>
                <span ng-show='set_new_pw_failed' class='error-span'>{{'SET_NEW_PW_FAILED' | translate}}</span>
                <div layout-xs="column" layout="row" style="padding-top:20px;">
                    <span flex class="span-flex"></span>
                    <md-button flex-xs="100" flex-gt-xs="40" flex-gt-sm="35" flex-gt-md="30" class="md-raised md-primary" ng-click="set_new_password()">
                        {{'SET_NEW_PASSWORD'| translate}}
                    </md-button>
                </div>
            </div>
        </md-content>
    </div>
</div>
