<!DOCTYPE html>
<!-- speed and time zones directive -->
<md-card flex-100>
    <md-toolbar style="color:black;background-color:white" >
        <div class="md-toolbar-tools">
            <h3 style="color:rgba(0,101,160,0.9)">
                <span>{{'SPEED_STATS'| translate}}</span>
            </h3>
            <span flex></span>
            <md-select style="color:rgba(0,101,160,0.9)" ng-model="pieSpeedRanges" >
                <md-option ng-model="d" ng-value="d" ng-click="changePhenomenonPieSpeed(d)" data-ng-repeat="d in speedPieOptions">{{d}}</md-option>
            </md-select>
        </div>
    </md-toolbar>
    <md-card-content >
        <md-progress-circular class="loader_dashboard" ng-if="!onloadSpeedPie" md-diameter="156"></md-progress-circular>
        <nvd3 ng-if="onloadSpeedPie" options="options_pie" data="dataSpeedPie"></nvd3>

    </md-card-content>
</md-card>