<!DOCTYPE html>
<!-- speed and time zones directive -->
<md-card flex>
    <div layout="row" flex="100">
        <p class='card-title' >
            <span><b>{{'SPEEDZONES_CHART_TITLE'| translate}} </b></span>
        </p>
        <div layout="row" flex>
            <span flex class="flex"></span>
            <md-button ng-click="showAlert($event, 'SPEEDZONES_CHART_TITLE', 'SPEEDZONES_CHART_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                <md-icon class="material-icons  md-24">info</md-icon>
                <md-tooltip>
                    {{'CLICK_FOR_MORE_INFO'| translate}}
                </md-tooltip>
            </md-button>

        </div>
    </div>

    <md-card-content flex>

        <md-progress-circular class="loader_dashboard2" ng-if="!onloadSpeedZones" md-diameter="56"></md-progress-circular>

        <div layout="column" flex style="height: 240px; position: relative;" ng-if='onloadSpeedZones'>
            <div layout="row">
                <div class="rect_red">
                    <p>{{ 'HIGH_SPEED_ZONE' | translate }}</p>
                    <img src="app/components/assets/car_pics/SimpleRedCarTopView.png">
                </div>
                <div flex></div>
                <div class="speed-zones-content">
                    <span>
                        <i class="material-icons md-24" style="height:28px;width:28px">timelapse</i>
                        {{userstatistics.duration130}} {{'HOURS'| translate}}
                    </span>
                    <br>
                    <span >
                        <i class="material-icons md-24" style="height:28px;width:28px">timeline</i>
                        {{userstatistics.distance130}} km
                    </span>
                    <br>
                </div>
            </div>

            <div flex></div>
            <div flex></div>

            <div layout="row">
                <div class="rect_yellow">
                    <p>{{ 'MID_SPEED_ZONE' | translate }}</p>
                    <img src="app/components/assets/car_pics/SimpleYellowCarTopView.png">
                </div>
                <div flex></div>
                <div class="speed-zones-content">
                    <span>
                        <i class="material-icons md-24" style="height:28px;width:28px">timelapse</i>
                        {{userstatistics.duration60to130}} {{'HOURS'| translate}}
                    </span>
                    <br>
                    <span >
                        <i class="material-icons md-24" style="height:28px;width:28px">timeline</i>
                        {{userstatistics.distance60to130}} km
                    </span>
                    <br>
                </div>
            </div>

            <div flex></div>
            <div flex></div>

            <div layout="row">
                <div class="rect_green">
                    <p>{{ 'LOW_SPEED_ZONE' | translate }}</p>
                    <img src="app/components/assets/car_pics/SimpleGreenCarTopView.png">
                </div>
                <div flex></div>
                <div class="speed-zones-content">
                    <span>
                        <i class="material-icons md-24" style="height:28px;width:28px">timelapse</i>
                        {{userstatistics.duration60}} {{'HOURS'| translate}}
                    </span>
                    <br>
                    <span >
                        <i class="material-icons md-24" style="height:28px;width:28px">timeline</i>
                        {{userstatistics.distance60}} km
                    </span>
                </div>
            </div>
            
            <div flex ng-if="NaN_exist"></div>
            <div flex ng-if="NaN_exist"></div>

            <div layout="row" ng-if="NaN_exist">
                <div class="rect_white">
                    <p>{{ 'NAN_SPEED_ZONE' | translate }}</p>
                    <img src="app/components/assets/car_pics/SimpleWhiteCarTopView.png">
                </div>
                <div flex></div>
                <div class="speed-zones-content">
                    <span>
                        <i class="material-icons md-24" style="height:28px;width:28px">timelapse</i>
                        {{userstatistics.durationNaN}} {{'HOURS'| translate}}
                    </span>
                    <br>
                    <span >
                        <i class="material-icons md-24" style="height:28px;width:28px">timeline</i>
                        {{userstatistics.distanceNaN}} km
                    </span>
                </div>
            </div>

            <div flex></div>
            <div class="no_tracks" ng-show="!tracksAvailable && onloadSpeedZones">
                <div class="transparent-container">
                    <img src="app/components/assets/img_tracks.png">
                </div>
                <p layout-align="center center">
                    <b>{{ 'NO_TRACKS' | translate}}</b>
                </p>
            </div>
        </div>

    </md-card-content>
</md-card>