<md-tab label="{{'CALENDAR_OF_TRACKS_TAB'| translate}}">
    <md-progress-circular  ng-if="!onload_calendar" md-diameter="156"></md-progress-circular>
    <div ng-if="onload_calendar" layout-gt-sm="row">
        <md-card flex-gt-sm="65" >

            <md-content>
                <div layout="row" flex="100">
                    <p style="color:#1A80C1;background-color:white; margin-left:20px;">
                        <span><b>{{'CALENDAR_TITLE'| translate}}</b></span>
                    </p>
                    <div layout="row" flex>
                        <span flex class="flex"></span>
                        <md-button ng-click="showAlert($event, 'CALENDAR_TITLE', 'CALENDAR_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                            <md-icon class="material-icons  md-24">info</md-icon>
                            <md-tooltip>
                                {{'CLICK_FOR_MORE_INFO'| translate}}
                            </md-tooltip>
                        </md-button>
                    </div>
                </div>
                <div flex layout layout-fill style="height: 500px;">

                    <calendar-md layout-fill layout-row flex 
                                 on-prev-month="prevMonth"
                                 on-next-month="nextMonth"
                                 data-start-month="{{start_month}}"
                                 data-start-year="{{start_year}}"
                                 on-day-click="dayClick"
                                 week-starts-on="1"
                                 >
                        <!--        calendar-direction="direction"
                                    day-content="setDayContent"
                                    day-format="'d'"
                                    tooltips="tooltips"
                                    title-format="'MMMM y'"
                                    ng-model='selectedDate'
                                    day-label-format="'EEE'"
                                    day-label-tooltip-format="'EEEE'"
                                    day-tooltip-format="'fullDate'"
                                    week-starts-on="1"
                                    disable-future-selection="true"> -->

                    </calendar-md>
                </div>
                <div flex>
                    <div flex style="text-align:center">
                        <h3 ng-if="numberClickedDays === 0" style="color:rgba(0,0,0,0.7)">{{'MONTHLY_OVERVIEW'| translate}}</h3>
                        <h3 ng-if="numberClickedDays === 1" style="color:rgba(0,0,0,0.7)">{{'DAILY_OVERVIEW'| translate}}</h3>
                        <h3 ng-if="numberClickedDays === 2" style="color:rgba(0,0,0,0.7)">{{'SELECTION_OVERVIEW'| translate}}</h3>
                    </div>
                </div>
                <div layout="row" ng-if="!nostatistics">
                    <div style="width:33.33%;text-align:center">
                        <h3 style="color:#0065A0">{{total_time}}</h3>
                        <p style="font-size:13px;">{{'DURATION'| translate}}</p>
                    </div>
                    <div style="width:33.33%;text-align:center">
                        <h3 style="color:#0065A0">{{total_distance}} Km</h3>
                        <p style="font-size:13px;">{{'DISTANCE'| translate}}</p>
                    </div>
                    <div style="width:33.33%;text-align:center">
                        <h3 style="color:#0065A0">{{total_tracks}}</h3>
                        <p style="font-size:13px;">{{'TRACKS'| translate}}</p>
                    </div>
                </div>
            </md-content>
        </md-card>

        <md-card flex>
            <div layout="row">
                <p style="color:#1A80C1;background-color:white; margin-left:20px;">
                    <span ng-if="numberClickedDays === 0"><b>{{'MONTHLY_OVERVIEW'| translate}}</b></span>
                    <span ng-if="numberClickedDays === 1"><b>{{'DAILY_OVERVIEW'| translate}}</b></span>
                    <span ng-if="numberClickedDays === 2"><b>{{'SELECTION_OVERVIEW'| translate}}</b></span>
                </p>
                <div layout="row" flex>
                    <span flex class="flex"></span>
                    <md-button ng-if="numberClickedDays === 2" ng-click="showAlert($event, 'SELECTION_OVERVIEW', 'CALENDAR_OVERVIEW_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                        <md-icon class="material-icons  md-24">info</md-icon>
                        <md-tooltip>
                            {{'CLICK_FOR_MORE_INFO'| translate}}
                        </md-tooltip>
                    </md-button>
                    <md-button ng-if="numberClickedDays === 1" ng-click="showAlert($event, 'DAILY_OVERVIEW', 'CALENDAR_OVERVIEW_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                        <md-icon class="material-icons  md-24">info</md-icon>
                        <md-tooltip>
                            {{'CLICK_FOR_MORE_INFO'| translate}}
                        </md-tooltip>
                    </md-button>
                    <md-button ng-if="numberClickedDays === 0" ng-click="showAlert($event, 'MONTHLY_OVERVIEW', 'CALENDAR_OVERVIEW_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                        <md-icon class="material-icons  md-24">info</md-icon>
                        <md-tooltip>
                            {{'CLICK_FOR_MORE_INFO'| translate}}
                        </md-tooltip>
                    </md-button>
                </div>
            </div>
            <cl-paging cl-pages="paging.total" cl-steps="4" cl-page-changed="paging.onPageChanged()" cl-align="center end" cl-current-page="paging.current"></cl-paging>
            <span class="center-aligned"> {{'PAGE'| translate}} {{paging.current}} {{'OF'| translate}} {{Math.max(paging.current, paging.total)}} {{'WITH_TRACKS'| translate}} {{Math.min(currentPageTracks.currentSelectedTracks.length, paging.current * 4 - 3)}} {{'FROM_TO'| translate}} {{Math.min(paging.current * 4, currentPageTracks.currentSelectedTracks.length)}} {{'OF'| translate}} {{Math.min(paging.total * 4, currentPageTracks.currentSelectedTracks.length)}}  </span>
            <md-list id="calendar-list" flex>
                <div layout-align="center start" class="divider-list-item fade" ng-repeat='event in currentPageTracks.currentMonthTracks' ng-click="goToActivity(event.id)">
                    <div layout="column" layout-align="center start">
                        <div layout="row" style="height: 36px;" layout-align="center start">
                            <svg style="width:36px;height:36px;" viewBox="0 0 36 36">
                            <path fill="rgba(0,101,160,0.9)" d="M11,16H13V20H11M11,10H13V14H11M11,4H13V8H11M4,22H20V2H4V22Z" />
                            </svg>
                            <b>{{event.begin| date:'medium'}}</b>
                        </div>
                        <div class="divider-list-item-content" layout="column" layout-align="center start">
                            <span layout="row">
                                <i class="material-icons md-24" style="margin-left:10px;">timeline</i>
                                <span flex class="span-flex"></span>
                                <p>{{event.length}} km</p>
                            </span>
                            <span layout="row">
                                <i class="material-icons md-24" style="margin-left:10px;">timelapse</i>
                                <span flex class="span-flex"></span>
                                <p>{{event.travelTime}}</p>
                            </span>
                            <span layout="row">
                                <i class="material-icons md-24" style="margin-left:10px;">directions_car</i>
                                <span flex class="span-flex"></span>
                                <p>{{event.manufacturer}} - {{event.car}}</p>
                            </span>
                            <md-tooltip popover-trigger="focus" class="trackpreview" md-direction="left">
                                <md-content >
                                    <p class="placeholder-p">.</p>

                                    <img src="{{event.url}}" style="width:290px;height:184px;"></img>

                                </md-content>
                            </md-tooltip>
                        </div>
                    </div>
                </div>

            </md-list>
            <span class="center-aligned"> {{'PAGE'| translate}} {{paging.current}} {{'OF'| translate}} {{Math.max(paging.current, paging.total)}} {{'WITH_TRACKS'| translate}} {{Math.min(currentPageTracks.currentSelectedTracks.length, paging.current * 4 - 3)}} {{'FROM_TO'| translate}} {{Math.min(paging.current * 4, currentPageTracks.currentSelectedTracks.length)}} {{'OF'| translate}} {{Math.min(paging.total * 4, currentPageTracks.currentSelectedTracks.length)}}  </span>
            <cl-paging cl-pages="paging.total" cl-steps="4" cl-page-changed="paging.onPageChanged()" cl-align="center end" cl-current-page="paging.current"></cl-paging>

        </md-card>
    </div>
</md-tab>