<!DOCTYPE html>
<!-- weekdays comparison directive -->
<md-card>
    <div layout="row" flex="100">
        <p class='card-title' >
            <span><b>{{'COMPARISON_CHART_TITLE'| translate}} </b></span>
        </p>
    </div >
    <div layout-gt-md="row" layout-xs="column" layout-gt-xs="column">
        <md-card-content flex>
            <p class='comparison-title'> Wochentage</p>
            <md-progress-circular class="loader_dashboard2" ng-if="!onload_weekdays" md-diameter="56"></md-progress-circular>
            <div flex ng-if="onload_weekdays" layout="row">
                <nvd3 options="optionsWeekdays" data="dataWeekdays" api="api" flex></nvd3>
            </div>
        </md-card-content>
    </div>
</md-card>