<!DOCTYPE html>
<div class="divider" flex="100">
    <div class="filter_card" layout="row" flex="100">
        <p style="color:#1A80C1;">
            <span>  <i class="material-icons md-24">timeline</i>
                <a>{{'FILTER_DISTANCE_TITLE'| translate}}</a></span>
        </p>
        <div layout="row" flex>
            <span flex class="flex"></span>
            <md-button ng-click="showAlert($event, 'FILTER_DISTANCE_TITLE', 'FILTER_DISTANCE_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                <md-icon class="material-icons  md-24">info</md-icon>
                <md-tooltip>
                    {{'CLICK_FOR_MORE_INFO'| translate}}
                </md-tooltip>
            </md-button>
            <md-button ng-click="removeFilter(filters.distance); setToUnused(); filtersChanged();" class="md-icon-button md-warn" aria-label="close">
                <md-icon class="material-icons  md-24">delete_forever</md-icon>
                <md-tooltip>
                    {{'CLICK_TO_REMOVE'| translate}}
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <div class="filter_card_content">
        <div layout="column" layout-padding ng-cloak>
            <!--
            <md-input-container>
                <input type="number" ng-change="hide()" min="{{distance_min}}" max="{{maxDistanceFilter - 1}}" ng-model="minDistanceFilter" placeholder="{{ 'DISTANCE_LONGER_THAN' | translate}}" style="width:100%">
            </md-input-container>
            <md-input-container>
                <input type="number" ng-change="hide()" max="{{distance_max}}" min="{{minDistanceFilter + 1}}" ng-model="maxDistanceFilter" placeholder="{{ 'DISTANCE_SHORTER_THAN' | translate}}" style="width:100%">
            </md-input-container>
            -->
            <div flex>
                <rzslider  id="sliderDistance" rz-slider-model="sliderDistance.minValue"
                           rz-slider-high="sliderDistance.maxValue"
                           rz-slider-options="sliderDistance.options" flex></rzslider>
            </div>
        </div>
    </div>
</div>