<!DOCTYPE html>
<div class="divider" flex="100">
    <div layout="row" flex="100">
        <p style="color:#1A80C1;margin-left:20px;">
            <span>{{'FILTER_VEHICLE_TITLE'| translate}}</span>
        </p>
        <div layout="row" flex>
            <span flex class="flex"></span>
            <md-button ng-click="showAlert($event, 'FILTER_VEHICLE_TITLE', 'FILTER_VEHICLE_DESCRIPTION')" class="md-icon-button md-accent" aria-label="Info">
                <md-icon class="material-icons  md-24">info</md-icon>
                <md-tooltip>
                    {{'CLICK_FOR_MORE_INFO'| translate}}
                </md-tooltip>
            </md-button>
            <md-button ng-click="removeFilter(filters.vehicle); filters.vehicle.inUse = false; filtersChanged();" class="md-icon-button md-warn" aria-label="close">
                <md-icon class="material-icons  md-24">delete_forever</md-icon>
                <md-tooltip>
                    {{'CLICK_TO_REMOVE'| translate}}
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <div layout="column" layout-padding ng-cloak>
        <fieldset class="standard" >
            <legend> Select or unselect your cars </legend>
            <div layout="row" layout-wrap flex>
                <div flex="50" ng-repeat="item in items">
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{ item}}
                    </md-checkbox>
                </div>
            </div>
            <p ng-if="errorNothingSelected">{{'ERROR_NOSELECTION' | translate}}</p>
        </fieldset>
    </div>
</div>